@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin vVal($prop, $size1, $size2, $val1, $val2){ // мой первый миксин )
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  // $glob: $v !global;
  @if $prop == "left" {
    left: $v;
  } @else if $prop == "right" {
    right: $v;
  } @else if $prop == "top" {
    top: $v;
  } @else if $prop == "bottom" {
    bottom: $v;
  } @else if $prop == "width" {
    width: $v;
  } @else if $prop == "height" {
    height: $v;
  } @else if $prop == "font-size" {
    font-size: $v;
  }  @else if $prop == "margin-top" {
    margin-top: $v;
  }  @else if $prop == "margin-right" {
    margin-right: $v;
  }  @else if $prop == "margin-bottom" {
    margin-bottom: $v;
  }  @else if $prop == "margin-left" {
    margin-left: $v;
  }  @else if $prop == "padding-bottom" {
    padding-bottom: $v;
  }  @else if $prop == "padding-left" {
    padding-left: $v;
  }  @else if $prop == "padding-right" {
    padding-right: $v;
  }  @else if $prop == "padding-top" {
    padding-top: $v;
  }  @else if $prop == "min-width" {
    min-width: $v;
  }  @else if $prop == "min-height" {
    min-height: $v;
  }  @else if $prop == "flex-basis" {
    flex-basis: $v;
  }  @else if $prop == "gap" {
    gap: $v;
  }  
}

$bg: #232326; // #232326
$bgLight: #38383A;
$txtColor: #F3F2F0;
$txtHover: #D40000;
$txtGray: rgba(243, 242, 240, 0.4);
$debugBg: transparent; // rgba(darkgrey, .3); //
$maxwidth: 1140px;
$padding: 15px;
$rpart: 560px;
$gap4c: 10px;

@mixin fs74b{
  color: $txtColor;
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@mixin fs42r{
  color: $txtColor;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
@mixin fs28b{
  color: $txtColor;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
@mixin fs28r{
  color: $txtColor;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs26r{
  color: $txtColor;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs22b{
  color: $txtColor;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs16b{
  color: $txtColor;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@mixin fs16r{
  color: $txtColor;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs14r{
  color: $txtColor;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs12r{
  color: $txtColor;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs10r{
  color: $txtColor;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}

html{
  font-size: 10px;
  // overflow-x: hidden;
}
body{
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  background-color: $bg;
  color: $txtColor;

}

.mainBox{
  background-color: $debugBg; 

  max-width: $maxwidth;
  margin: 0 auto;
  padding-left: $padding;
  padding-right: $padding;
}

@import '01_helpers';
@import '02_ui';
@import '03_drop';
@import '04_blocks';

@import '010hmenu';
@import '020introduce';
@import '030discussion';
@import '040about';
@import '050portfolio';
@import '060benefits_tools';
@import '070rates';
@import '080comunication';
@import '090footer';

@import '999temp';