@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$propGlob: 0;
@mixin vVal($prop, $size1, $size2, $val1, $val2){ // мой первый миксин )
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $propGlob: $v !global;
  #{$prop}: $v;
}

@function rrgba($p) {
  @return rgba(var(--#{$p}), 0.1);
}
// @function rgb($args...) { @return #{'rgb(#{$args})'}; } 
// @function rgba($args...) { @return #{'rgba(#{$args})'}; } 
// @function hsl($args...) { @return #{'hsl(#{$args})'}; } 
// @function hsla($args...) { @return #{'hsla(#{$args})'}; }

// $bg: rgba(var(--bg), 1); // rrgba(bg)
// $bgLight: rrgba(bgLight); // 
// $txtColor: rrgba(txtColor); // 


// dark theme
$bg: rgb(35, 35, 38); // #232326;
$bgLight: rgb(56, 56, 58); //  #38383A;
$txtColor: rgb(243, 242, 240); //  #F3F2F0;
$txtHover: rgb(212, 0, 0); //  #D40000;
$txtGray: rgba(243, 242, 240, 0.4); //
$bgSvg:'../images/bg2.svg';

// // light theme
// $bg: #F3F2F0;
// $bgLight: #E7E6E4;
// $txtColor: #010101;
// $txtHover: #D40000;
// $txtGray: #A8A7A6;
// $bgSvg: '../images/bg2_L.svg';

// // changeble theme
// $bg: var(--bg);
// $bgLight: var(--bgLight); // #E7E6E4;
// $txtColor: var(--txtColor);
// // $txtColor: #F3F2F0;
// $txtColor_2: var(--txtColor_2);
// $txtHover: var(--txtHover);
// $txtGray: var(--txtGray);
// $bgSvg: --bgSvg; // '../images/bg2_L.svg';

// $bg: var(--bg); // #F3F2F0;
// $bgLight: var(--bgLight); // #E7E6E4;
// $txtColor: var(--txtColor); //  #010101;
// $txtHover: var(--txtHover); //  #D40000;
// $txtGray: var(--txtGray); // #A8A7A6;
// $bgSvg: --bgSvg; // '../images/bg2_L.svg';

// $txtColor: #F3F2F0;

$maxwidth: 1140px;
$padding: 15px;
$rpart: 560px;
$gap4c: 10px;

@mixin fs74b{
  color: $txtColor;
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@mixin fs42r{
  color: $txtColor;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
@mixin fs28b{
  color: $txtColor;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
@mixin fs28r{
  color: $txtColor;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs26r{
  color: $txtColor;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs22b{
  color: $txtColor;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.009px;
  line-height: 1.5;
}
@mixin fs16b{
  color: $txtColor;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@mixin fs16r{
  color: $txtColor;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs14r{
  color: $txtColor;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs12r{
  color: $txtColor;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}
@mixin fs10r{
  color: $txtColor;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
}

html{
  font-size: 10px;
  // overflow-x: hidden;
}
body{
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  background-color: $bg;
  color: $txtColor;

}
h1,h2,h3{
  margin: 0;
  padding: 0;
}

.hh{ display:none;}

.mainBox{
  max-width: $maxwidth;
  margin: 0 auto;
  padding-left: $padding;
  padding-right: $padding;

  @media (max-width: 1920px){
    @include vVal(padding-left, 1920px, 768px, $padding, 10px);
    @include vVal(padding-right, 1920px, 768px, $padding, 10px);
  }
  @media (max-width: 768px){
    padding-left: 10px;
    padding-right: 10px;
    }

}

@import '01_helpers';
@import '02_ui';
@import '03_drop';
@import '04_blocks';

@import '010hmenu';
@import '020introduce';
@import '030discussion';
@import '040about';
@import '050portfolio';
@import '060benefits_tools';
@import '070rates';
@import '080comunication';
@import '090footer';

@import '999temp';