// 01hmenu

.testBox{
  border: 20px solid rgb(var(--testBoxBorderClr) / 0.5);
  background-color: clr(testBoxBackgroundClr, 0.5);
  width: 50px;
  height: 200px;
  position: absolute;

  display: none;
}

.hmenu {
  padding-top: 43px;

  display: flex;
  justify-content: space-between;
  width: 100%;
  // background-color: red;
  padding-bottom: 58px;
  // &_footer{ //  hmenu_footer
  //   padding-top: 61px;
  // }

  @media (max-width: 1920px){
    @include vVal(padding-top, 1920px, 768px, 43px, 19px);
  }
  @media (max-width: 768px){
    display: none;
  }

  &__box {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    @media (max-width: 1920px){
      @include vVal(gap, 1920px, 768px, 25px, 15px);
    }

    &_2{
      gap: 14px;
      @media (max-width: 1920px){
        @include vVal(gap, 1920px, 768px, 14px, 7px);
      }
    }
  }
  &__menuItem {
    & a{
      @include fs14r;
      text-decoration: none;

      &:hover{
        color: rrgba(txtHover); // $txtHover;
      }
    }
  }

  &_footer{
    padding-top: 61px;
    padding-bottom: 30px;
  }
}

.hmenuMob{
  display: none;
  margin-top: 20px;
  margin-bottom: 40px;

  @media (max-width: 768px){
    display: block;
  }

  &__burger{
    width: 36px;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;    
  }
}

// @media (max-width: 1300px){
//   .hmenuMob{
//     display: block;
//   }
//   header .hmenu{
//     display: none;
//   }
// }
