// 050portfolio
.bg2Box{
  // background-color: red;
  background-image: url(../images/bg2.svg);
  background-size: cover;
  background-position-y: 217px;

  position: relative;
  z-index: 5;  
  // z-index: -1;
  // position: relative;
}
.portfolio{
  margin-top: 180px;
  min-height: 300px;
  position: relative;
  // z-index: 10;

  &__title{
    @include fs74b;
    position: relative;
    margin-bottom: 220px;
  }
  &__decorO2{
    top: -104px;
    left: 362px;
  }
  &__decor2{
    position: absolute;
    top: -89px;
    left: 353px;
    // z-index: -1;
  }
  &__projects{
    position: relative;
  }
  &__project{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__pojDecription{
    // padding-left: 19px;
  }
  &__pojName{
    margin-top: -31px;
    @include fs28r;
    font-weight: 700;
    padding-bottom: 12px;

  }
  &__pojStep{
    margin-top: 15px;
    // margin-top: 12px;
    @include fs16r;
    color: rgba($txtColor, .8);
  }
  &__pojTime{
    margin-top: 40px;
    @include fs16r;
    color: rgba($txtColor, .8);
    font-weight: 700;
  }
  &__pojScreen{
    flex-basis: calc($rpart);
    max-width: calc($rpart);

  }

  &__otherActivities{
    margin-top: 177px;
    max-width: 80%;
    @include fs28r;
    margin-bottom: 80px;
  }
}