// 060benefits_tools
.benefits{
  margin-top: 80px;

  @media (max-width: 1024px){
    @include vVal(margin-top, 1024px, 360px, 80px, 40px);
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 80px 10px;

    @media (max-width: 1024px){
      grid-template-columns: 1fr 1fr;
      column-gap: 150px;
      @include vVal(column-gap, 1024px, 600px, 150px, 20px);
      @include vVal(row-gap, 1024px, 360px, 80px, 30px);
    }
    @media (max-width: 600px){
      grid-template-columns: 1fr;
    }    
    @media (max-width: 400px){
      margin-left: -20px;
    }
  }
  &__item{
    // background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width: 600px){
      justify-content: center;
    }
  }
  &__itemIcon{
    width: 40px;
    height: 40px;

    @media (max-width: 1140px){
      @include vVal(width, 1140px, 360px, 40px, 30px);
      @include vVal(height, 1140px, 360px, 40px, 30px);
    }
  }
  &__itemTitle{
    @include fs16r;
    font-weight: 600;

    @media (max-width: 1140px){
      @include vVal(font-size, 1140px, 360px, 16px, 12px);
    }
  }
  &__itemText{
    margin-top: 10px;
    @include fs14r;
    opacity: 0.8;

    @media (max-width: 1140px){
      @include vVal(font-size, 1140px, 360px, 14px, 12px);
    }
    @media (max-width: 600px){
      width: 300px;
      @include vVal(width, 600px, 360px, 300px, 250px);
    }
    @media (max-width: 360px){
      // width: 300px;
    }
  }
}

.tools{
  margin-top: 167px;

  @media (max-width: 1024px){
    @include vVal(margin-top, 1024px, 360px, 167px, 60px);
  }

  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 0px 0px;
  }
  &__gridItem{
    width: 100%;
    height: 146px;
    // background-color: brown;
    border: 1px solid;
    position: relative;

    @media (max-width: 1024px){
      @include vVal(height, 1024px, 360px, 146px, 44px);
    }

    &:hover{
      .tooltipInfo{
        display: block;
      }
      .tools__gridItemImg{
        filter: none;
      }

    }
  }
  &__gridItemImg{
    position: absolute;
    max-height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
  }

}
.tooltipInfo{
  display: none;
  position: absolute;
  @include fs10r;
  color: rgba($txtColor, 0.8);
  font-weight: 500;
  text-align: center;
  background-color: $txtHover;
  box-sizing: border-box;
  padding: 27px 15px;
  top: 140px;
  left: 24px;
  max-width: 232px;
  z-index: 10;

  @media (max-width: 1140px){
    @include vVal(top, 1140px, 768px, 140px, 105px);
    @include vVal(left, 1140px, 768px, 24px, 11px);
    @include vVal(max-width, 1140px, 768px, 232px, 160px);
  }
  @media (max-width: 768px){
    padding: 17px 5px;
    max-width: none;
    width: 160px;
  }

  &__name{
    text-transform: uppercase;

    &::after{
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-bottom: 15px solid #D40000;
      left: 109px;
      top: -24px;
      z-index: -1;

      @media (max-width: 1140px){
        @include vVal(left, 1140px, 768px, 109px, 72px);
      }
      @media (max-width: 768px){ 
        @include vVal(left, 768px, 360px, 72px, 36px);
      }
      @media (max-width: 360px){
        left: 36px;
      }
    }
  }
  &__text{
    margin-top: 15px;

    @media (max-width: 600px){
      margin-top: 5px;
    }
  
  }

  &_r{
    
    @media (max-width: 768px){
      left: 11px;
      @include vVal(left, 768px, 360px, 11px,  -80px);
    }
    @media (max-width: 360px){
      left: -80px;
    }

    & .tooltipInfo__name::after{

      @media (max-width: 768px){
        left: 72px;
        @include vVal(left, 768px, 360px, 72px, 114px);
      }
      @media (max-width: 360px){
        left: 114px;
      }
    }
  }

}