// 070rates
.rates{
  margin-top: 180px;

  &___decorBox{
    position: relative;
    z-index: 1;
  }
  &___decor3{
    position: absolute;
    z-index: -1;
    left: -64px;
    top: -55px;
  }
  &__decorO3{
    left: -60px;
    top: -60px;
  }

  &__titleBox{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 1;    
    margin-bottom: 80px;

    @media (max-width: 768px){
      flex-direction: column;
      gap: 20px;
    }
  }
  &__title{
    // flex-basis: 100%;
    // width: calc(100vw/2);
    @include fs28b;

    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 28px, 16px);
    }
  }

  &__text{
    flex-basis: calc($rpart);
    max-width: calc($rpart);
    @include fs28r;
    color: rgba($txtColor, .8);

    @media (max-width: 1120px){
      flex-basis: calc(50% - 5px);
      max-width: calc(50% - 5px);
    }
    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 28px, 16px);
    }
    @media (max-width: 768px){
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  
  &__itemBox{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-bottom: 58px;

    @media (max-width: 1024px){
      gap: 20px;
      @include vVal(margin-top, 1024px, 360px, 60px, 40px);
      @include vVal(margin-bottom, 1024px, 360px, 58px, 35px);
    }    
  }
  &__itemLeft{
    max-width: 400px;

    @media (max-width: 1024px){
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
    }    
  }
  &__itemLeftTitl{
    @include fs28r;
    font-weight: 400;

    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 28px, 16px);
    }
  }
  &__itemLeftText{
    margin-top: 20px;
    @include fs16r;
    font-weight: 500;
    color: rgba($txtColor, 0.8);

    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 28px, 10px);
    }
  }
  &__btnBlock{
    margin-top: 75px;
    display: flex;
    align-items: center;
    gap: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    color: $txtColor;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover{
      border-bottom: 1px solid rgba($txtColor, 1);
    }
  }

  &__itemRight{
    flex-basis: calc($rpart);
    max-width: calc($rpart);

    @media (max-width: 1120px){
      flex-basis: calc(50% - 5px);
      max-width: calc(50% - 5px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
    }
  }
  &__itemRightTitl{
    @include fs16r;
    font-weight: 700;

    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 16px, 12px);
    }    
  }
  &__itemRightTexts{
    padding-left: 18px;
  }
  &__itemRightText{
    margin-top: 10px;
    @include fs16r;
    color: rgba($txtColor, 0.8);

    @media (max-width: 1024px){
      @include vVal(font-size, 1024px, 360px, 16px, 12px);
    }    
  }
  &___decorPriceBox{
    position: relative;
  }
  &___decor4{
    position: absolute;
    z-index: -1;
  }
  &___decorO4{
    left: -45px;
    top: -12px;

    @media (max-width: 1140px){
      @include vVal(left, 1140px, 360px, -45px, -15px);
      @include vVal(top, 1140px, 360px, -12px, -4px);
    }
    @media (max-width: 360px){
      left: -15px;
      top: -4px;      
    }
  }
  &__itemRightPrice{
    margin-top: 51px;
    @include fs42r;
    font-weight: 700;
    position: relative;

    @media (max-width: 1024px){
      @include vVal(margin-top, 1024px, 360px, 51px, 15px);
      @include vVal(font-size, 1024px, 360px, 24px, 22px);
    }    
  }
}
