// 090footer
.footer {

  // .footer__text
  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.4rem;
    @include fs12r;    
    color: rrgba(txtColor, .3);  // rgba($txtColor, 0.3);

    @media (max-width: 768px){
      margin-top: 30px;
      padding-bottom: 3.0rem;
      @include vVal(font-size, 768px, 360px, 12px, 10px);
    }
    @media (max-width: 600px){
      margin-top: 15px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & p{
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
    @media (max-width: 360px){
      font-size: 10px;
    }

  }

  // footer__author
  &__author {
    @include fs12r;
    color: rrgba(txtColor, .3);  // rgba($txtColor, 0.3);

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 360px, 12px, 10px);
    }

    a {
      text-decoration: none;
      color: rrgba(txtColor, .3);  // rgba($txtColor, 0.3);
      border-bottom: 1px solid  rrgba(txtColor, .3);  //rgba($txtColor, 0.3);
      transition: all $transitionTime;
    }
    &:hover a {
      color: rrgba(txtColor);  // $txtColor;
      border-bottom: 1px solid  rrgba(txtColor);  //$txtColor;
    }
  }

  // footer__mobMenu
  &__mobMenu{
    display: none;

    @media (max-width: 768px){
      display: block;
    }
  }
  &__mmLine1{
    margin-top: 40px;
    height: 21px;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 768px){
      @include vVal(gap, 768px, 360px, 30px, 13px);
    }
    @media (max-width: 360px){
      gap: 13px;
    }
  }
  &__mmLine1Item a{
    text-decoration: none;
    @include fs14r;
  }
  &__mmLine2{
    margin-top: 30px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    gap: 30px;
    @media (max-width: 768px){
      @include vVal(gap, 768px, 360px, 30px, 19px);
    }
    @media (max-width: 360px){
      gap: 19px;
    }
  }
  &__mmLine2Item a{
    text-decoration: none;
    // @include fs14r;
    @include fs10r;
  }
}