
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 65px;
}
@media (min-width: 901px){
  .header-mobile {
    display: none;
  }
}
.photo {
  margin-bottom: 93px;
  width: 100%;
  height: 310px;
  position: relative;
  overflow: hidden;
}
// =======================
.fs74b{
  margin-top: 0px;
  @include fs74b;
  // font-size: 74px;
  // font-weight: 700;
  // text-transform: uppercase;
  // letter-spacing: 2.2px;
}
.fs28b{
  margin-top: 37px;
  @include fs28b;
  // font-size: 28px;
  // font-weight: 700;
  // text-transform: uppercase;
  // letter-spacing: 0.7px;
}
.fs28r{
  margin-top: 28px;
  @include fs28r;
  // font-size: 28px;
  // font-weight: 400;
  // letter-spacing: 0.009px;
}
.fs16b{
  margin-top: 30px;
  @include fs16b;
  // font-size: 16px;
  // font-weight: 700;
  // text-transform: uppercase;
  // letter-spacing: 0.5px;
}
.fs16r{
  margin-top: 26px;
  @include fs16r;
  // font-size: 16px;
  // font-weight: 400;
  // letter-spacing: 0;
}
.fs14r{
  margin-top: 27px;
  @include fs14r;
  // font-size: 14px;
  // font-weight: 400;
  // letter-spacing: 0;
}

